{
    "Database": {
        "Name": "hipCmsDb",
        "Host": "localhost",
        "Username": "postgres",
        "Passwort": "postgres",
        "Port": "5632"
    },
    "Auth": {
        "Audience": "https://hip.cs.upb.de/API",
        "Authority": "https://hip.eu.auth0.com/",
    },
    "App": {
        "EmailService": "",
        "UserStoreUrl": "http://localhost:5000"
    }
}
