{
  // Database Configurations
  "DB_HOST": "localhost",
  "DB_USERNAME": "postgres",
  "DB_PASSWORD": "postgres",
  "DB_NAME": "hipcmsdb",

  // Auth Configurations
  "AUDIENCE": "https://hip.cs.upb.de/WebAPI",
  "AUTHORITY": "https://hip.eu.auth0.com/",

  // Admin Details
  "ADMIN_EMAIL": "admin@hipapp.de",

  "ALLOW_HTTP": true
}
